spring:
  application:
    name: wms-backend
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/wms_db}
    username: ${DATABASE_USERNAME:wms_user}
    password: ${DATABASE_PASSWORD:wms_password}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
